@import url(resources/BookShelf.css);
@import url(resources/BookView.css);
@import url(resources/Header.css);
@import url(resources/SearchField.css);

* {
  box-sizing: content-box;
}

html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.content {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}
